
2.Enunciados/.ipynb_checkpoints/python_ejercicios_enunciados-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Librerias Python/.ipynb_checkpoints/ex_0210-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Librerias Python/.ipynb_checkpoints/ex_0211-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Librerias Python/.ipynb_checkpoints/ex_0214-checkpoint.ipynb
3.Ejercicios completados/.ipynb_checkpoints/Test numpy-checkpoint.ipynb
3.Ejercicios completados/.ipynb_checkpoints/Test python-checkpoint.ipynb
3.Ejercicios completados/1. Ejercicios no obligatorios/Ejercicios Python/.ipynb_checkpoints/data-pandas-ejercicios-enunciados-checkpoint.ipynb
3.Ejercicios completados/1. Ejercicios no obligatorios/Ejercicios Python/.ipynb_checkpoints/numpy_ejercicios_enunciados-checkpoint.ipynb
3.Ejercicios completados/1. Ejercicios no obligatorios/Ejercicios Python/.ipynb_checkpoints/python_ejercicios_enunciados-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 1 17-10 Python/.ipynb_checkpoints/problem_0104-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 2 Numpy/.ipynb_checkpoints/problem_0201-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 2 Numpy/.ipynb_checkpoints/problem_0202-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 2 Numpy/.ipynb_checkpoints/problem_0203-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 2 Numpy/.ipynb_checkpoints/problem_0204-checkpoint.ipynb
3.Ejercicios completados/4. Tests/.ipynb_checkpoints/Test pandas-checkpoint.ipynb
2.Enunciados/.ipynb_checkpoints/data-pandas-ejercicios-enunciados-checkpoint.ipynb
3.Ejercicios completados/Ejercicios bloque 1/.ipynb_checkpoints/data-pandas-ejercicios-enunciados-checkpoint.ipynb
3.Ejercicios completados/Ejercicios bloque 1/.ipynb_checkpoints/numpy_ejercicios_enunciados-checkpoint.ipynb
3.Ejercicios completados/Entregable 2 Numpy/.ipynb_checkpoints/problem_0201-checkpoint.ipynb
4.Soluciones/Soluciones-20211018/.ipynb_checkpoints/sol_0101-checkpoint.ipynb
4.Soluciones/Soluciones-20211018/.ipynb_checkpoints/sol_0102-checkpoint.ipynb
4.Soluciones/Soluciones-20211018/.ipynb_checkpoints/sol_0103-checkpoint.ipynb
4.Soluciones/Soluciones-20211018/.ipynb_checkpoints/sol_0104-checkpoint.ipynb
4.Soluciones/Soluciones-20211018/.ipynb_checkpoints/sol_0105-checkpoint.ipynb
5.Ejercicios a corregir/Ejercicios_lauracaceres/.ipynb_checkpoints/problem_0101_lauracaceres-checkpoint.ipynb
5.Ejercicios a corregir/Ejercicios_lauracaceres/.ipynb_checkpoints/problem_0102_lauracaceres-checkpoint.ipynb
5.Ejercicios a corregir/Ejercicios_lauracaceres/.ipynb_checkpoints/problem_0104_lauracaceres-checkpoint.ipynb
5.Ejercicios a corregir/Ejercicios_lauracaceres/.ipynb_checkpoints/problem_0105_lauracaceres-checkpoint.ipynb
5.Ejercicios a corregir/Enunciados-20211011-SandraCSantosAvalle/.ipynb_checkpoints/problem_0101-checkpoint.ipynb
5.Ejercicios a corregir/Enunciados-20211011-SandraCSantosAvalle/.ipynb_checkpoints/problem_0102-checkpoint.ipynb
5.Ejercicios a corregir/Enunciados-20211011-SandraCSantosAvalle/.ipynb_checkpoints/problem_0103-checkpoint.ipynb
5.Ejercicios a corregir/Enunciados-20211011-SandraCSantosAvalle/.ipynb_checkpoints/problem_0104-checkpoint.ipynb
5.Ejercicios a corregir/Enunciados-20211011-SandraCSantosAvalle/.ipynb_checkpoints/problem_0105-checkpoint.ipynb
5.Ejercicios a corregir/ERP_problemas_resueltos/.ipynb_checkpoints/ERP_problem_0101-checkpoint.ipynb
5.Ejercicios a corregir/ERP_problemas_resueltos/.ipynb_checkpoints/ERP_problem_0102-checkpoint.ipynb
5.Ejercicios a corregir/ERP_problemas_resueltos/.ipynb_checkpoints/ERP_problem_0103-checkpoint.ipynb
5.Ejercicios a corregir/ERP_problemas_resueltos/.ipynb_checkpoints/ERP_problem_0104-checkpoint.ipynb
5.Ejercicios a corregir/ERP_problemas_resueltos/.ipynb_checkpoints/ERP_problem_0105-checkpoint.ipynb
4.Soluciones/Soluciones-20211018 Python/.ipynb_checkpoints/sol_0101-checkpoint.ipynb
4.Soluciones/Soluciones-20211018 Python/.ipynb_checkpoints/sol_0102-checkpoint.ipynb
4.Soluciones/Soluciones-20211018 Python/.ipynb_checkpoints/sol_0103-checkpoint.ipynb
4.Soluciones/Soluciones-20211018 Python/.ipynb_checkpoints/sol_0104-checkpoint.ipynb
4.Soluciones/Soluciones-20211018 Python/.ipynb_checkpoints/sol_0105-checkpoint.ipynb
4.Soluciones/Soluciones-20211025 Librerias/.ipynb_checkpoints/sol_0201-checkpoint.ipynb
4.Soluciones/Soluciones-20211025 Librerias/.ipynb_checkpoints/sol_0202-checkpoint.ipynb
4.Soluciones/Soluciones-20211025 Librerias/.ipynb_checkpoints/sol_0203-checkpoint.ipynb
4.Soluciones/Soluciones-20211025 Librerias/.ipynb_checkpoints/sol_0204-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/1. Librerías Python/.ipynb_checkpoints/problem_0201-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/1. Librerías Python/.ipynb_checkpoints/problem_0202-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/1. Librerías Python/.ipynb_checkpoints/problem_0203-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/1. Librerías Python/.ipynb_checkpoints/problem_0204-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/2. resueltos_librerias/.ipynb_checkpoints/problem_0201-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/2. resueltos_librerias/.ipynb_checkpoints/problem_0202-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/2. resueltos_librerias/.ipynb_checkpoints/problem_0203-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/2. resueltos_librerias/.ipynb_checkpoints/problem_0204-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/3. soluciones/.ipynb_checkpoints/solucion_0202-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/3. soluciones/.ipynb_checkpoints/solucion_0203-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/3. soluciones/.ipynb_checkpoints/solucion_0204-checkpoint.ipynb
5.Ejercicios a corregir/2. Ejercicios Python Librerias/3. soluciones/.ipynb_checkpoints/soluciones0201-checkpoint.ipynb
1.Apuntes/Estadistica/Ejercicios explicativos/.ipynb_checkpoints/Probabilidad-checkpoint.ipynb
3.Ejercicios completados/.ipynb_checkpoints/Ejemplo naive_bayes-checkpoint.ipynb
1.Apuntes/Estadistica/Ejercicios explicativos/.ipynb_checkpoints/Estadistica-checkpoint.ipynb
4.Soluciones/Soluciones Problemas Evaluación Asíncrona 1-20211026/.ipynb_checkpoints/ProblemaO1-Soluciones-checkpoint.ipynb
4.Soluciones/Soluciones Problemas Evaluación Asíncrona 2-20211026/.ipynb_checkpoints/ProblemaP1-Soluciones-checkpoint.ipynb
4.Soluciones/Soluciones Problemas Evaluación Asíncrona 2-20211026/.ipynb_checkpoints/ProblemaP2-Soluciones-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 3 Estadistica Probabilidad/.ipynb_checkpoints/ProblemaP1-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 3 Estadistica Probabilidad/.ipynb_checkpoints/ProblemaO4-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 3 Estadistica Probabilidad/.ipynb_checkpoints/ProblemaO3-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 3 Estadistica Probabilidad/.ipynb_checkpoints/ProblemaO1-checkpoint.ipynb
1.Apuntes/Estadistica/Ejercicios explicativos/.ipynb_checkpoints/Resumen funciones de probabilidad-checkpoint.ipynb
1.Apuntes/Machine Learning/Preprocesamiento/.ipynb_checkpoints/01. Introducción al preprocesamiento de datos-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Probabilidad y estadistica/.ipynb_checkpoints/ex_0310-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Probabilidad y estadistica/.ipynb_checkpoints/ex_0307-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Probabilidad y estadistica/.ipynb_checkpoints/ex_0301-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 3 Estadistica Probabilidad/.ipynb_checkpoints/ProblemaO2-checkpoint.ipynb
4.Soluciones/Soluciones Problemas Evaluación Asíncrona 1-20211026/.ipynb_checkpoints/ProblemaO2-Soluciones-checkpoint.ipynb
4.Soluciones/Soluciones Problemas Evaluación Asíncrona 1-20211026/.ipynb_checkpoints/ProblemaO3-Soluciones-checkpoint.ipynb
4.Soluciones/Soluciones Problemas Evaluación Asíncrona 1-20211026/.ipynb_checkpoints/ProblemaO4-Soluciones-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Probabilidad y estadistica/.ipynb_checkpoints/ex_0312-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Probabilidad y estadistica/.ipynb_checkpoints/ex_0308-checkpoint.ipynb
1.Apuntes/Machine Learning/Regresión/.ipynb_checkpoints/01. Regresión lineal-checkpoint.ipynb
4.Soluciones/Soluciones Problemas Evaluación Asíncrona 2-20211026/.ipynb_checkpoints/ProblemaP3-Soluciones-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 3 Estadistica Probabilidad/.ipynb_checkpoints/ProblemaP2-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 3 Estadistica Probabilidad/.ipynb_checkpoints/ProblemaP3-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Probabilidad y estadistica/.ipynb_checkpoints/ex_0305-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Probabilidad y estadistica/.ipynb_checkpoints/ex_0304-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Probabilidad y estadistica/.ipynb_checkpoints/ex_0303-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Probabilidad y estadistica/.ipynb_checkpoints/ex_0302-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0301-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0302-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0303-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0304-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0305-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0306-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0307-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0308-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0309-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0310-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0311-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Ejercicios (con soluciones)-20211028/.ipynb_checkpoints/ex_0312-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Problemas Evaluación-20211106/.ipynb_checkpoints/ProblemaO1-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Problemas Evaluación-20211106/.ipynb_checkpoints/ProblemaO2-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Problemas Evaluación-20211106/.ipynb_checkpoints/ProblemaO3-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Problemas Evaluación-20211106/.ipynb_checkpoints/ProblemaO4-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Problemas Evaluación-20211106/.ipynb_checkpoints/ProblemaP1-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Problemas Evaluación-20211106/.ipynb_checkpoints/ProblemaP2-checkpoint.ipynb
5.Ejercicios a corregir/3. Ejercicios Estadistica y probabilidad/Problemas Evaluación-20211106/.ipynb_checkpoints/ProblemaP3-checkpoint.ipynb
3.Ejercicios completados/1. Ejercicios no obligatorios/Ejercicios ML/ML (I)/.ipynb_checkpoints/ex_0405-checkpoint.ipynb
1.Apuntes/Machine Learning/Clasificación/.ipynb_checkpoints/03. Métricas de evaluación para clasificación-checkpoint.ipynb
3.Ejercicios completados/1. Ejercicios no obligatorios/Ejercicios ML/ML (I)/.ipynb_checkpoints/ex_0401-checkpoint.ipynb
3.Ejercicios completados/1. Ejercicios no obligatorios/Ejercicios ML/ML (II)/.ipynb_checkpoints/ex_0501-checkpoint.ipynb
3.Ejercicios completados/1. Ejercicios no obligatorios/Ejercicios ML/ML (II)/.ipynb_checkpoints/ex_0502-checkpoint.ipynb
3.Ejercicios completados/1. Ejercicios no obligatorios/Ejercicios ML/ML (II)/.ipynb_checkpoints/ex_0503-checkpoint.ipynb
4.Soluciones/Soluciones ML ejercicios no obligatorios/ML (I)/.ipynb_checkpoints/ex_0405_solucion-checkpoint.ipynb
4.Soluciones/Soluciones ML ejercicios no obligatorios/ML (II)/.ipynb_checkpoints/ex_0501_soluciones-checkpoint.ipynb
1.Apuntes/Machine Learning/Regresión/.ipynb_checkpoints/05. Métricas de evaluación para regresión-checkpoint.ipynb
1.Apuntes/Machine Learning/Regresión/.ipynb_checkpoints/04. Regresión polinómica-checkpoint.ipynb
1.Apuntes/Machine Learning/Regresión/.ipynb_checkpoints/02. Regularización en regresión lineal-checkpoint.ipynb
1.Apuntes/Machine Learning/Clasificación/03. Métricas de evaluación para clasificación.ipynb
1.Apuntes/Machine Learning/Clasificación/.ipynb_checkpoints/01. Regresión logística-checkpoint.ipynb
1.Apuntes/Machine Learning/Clasificación/.ipynb_checkpoints/01. Regresión logística-checkpoint.ipynb
1.Apuntes/Machine Learning/Clasificación/.ipynb_checkpoints/01. Regresión logística-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 4 ML/.ipynb_checkpoints/problem_0402-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 4 ML/.ipynb_checkpoints/problem_0501-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 4 ML/.ipynb_checkpoints/problem_0502-checkpoint.ipynb
1.Apuntes/Machine Learning/Clasificación/.ipynb_checkpoints/01. Regresión logística-checkpoint.ipynb
1.Apuntes/Machine Learning/Clasificación/.ipynb_checkpoints/01. Regresión logística-checkpoint.ipynb
1.Apuntes/Machine Learning/Clasificación/.ipynb_checkpoints/01. Regresión logística-checkpoint.ipynb
4.Soluciones/Soluciones ML ejercicios no obligatorios/ML (I)/.ipynb_checkpoints/ex_0403_soluciones-checkpoint.ipynb
1.Apuntes/Machine Learning/Clasificación/.ipynb_checkpoints/02. Support Vector Machines-checkpoint.ipynb
1.Apuntes/Machine Learning/Clasificación/.ipynb_checkpoints/04. k-Nearest Neighbors-checkpoint.ipynb
1.Apuntes/Machine Learning/Clasificación/.ipynb_checkpoints/06. Naïve Bayes Classifier-checkpoint.ipynb
1.Apuntes/Machine Learning/Regresión/.ipynb_checkpoints/03. SGD Regressor-checkpoint.ipynb
4.Soluciones/Soluciones ML ejercicios no obligatorios/ML (I)/.ipynb_checkpoints/ex_0402_solucion-checkpoint.ipynb
4.Soluciones/Soluciones ML ejercicios no obligatorios/ML (II)/.ipynb_checkpoints/ex_0502_soluciones-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 4 ML/.ipynb_checkpoints/problem_0401-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 4 ML/.ipynb_checkpoints/problem_0503-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 4 ML/.ipynb_checkpoints/problem_0601-checkpoint.ipynb
