
2.Enunciados/.ipynb_checkpoints/python_ejercicios_enunciados-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Librerias Python/.ipynb_checkpoints/ex_0210-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Librerias Python/.ipynb_checkpoints/ex_0211-checkpoint.ipynb
2.Enunciados/Enunciados Samsung/Librerias Python/.ipynb_checkpoints/ex_0214-checkpoint.ipynb
3.Ejercicios completados/.ipynb_checkpoints/Test numpy-checkpoint.ipynb
3.Ejercicios completados/.ipynb_checkpoints/Test python-checkpoint.ipynb
3.Ejercicios completados/1. Ejercicios no obligatorios/Ejercicios Python/.ipynb_checkpoints/data-pandas-ejercicios-enunciados-checkpoint.ipynb
3.Ejercicios completados/1. Ejercicios no obligatorios/Ejercicios Python/.ipynb_checkpoints/numpy_ejercicios_enunciados-checkpoint.ipynb
3.Ejercicios completados/1. Ejercicios no obligatorios/Ejercicios Python/.ipynb_checkpoints/python_ejercicios_enunciados-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 1 17-10 Python/.ipynb_checkpoints/problem_0104-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 2 Numpy/.ipynb_checkpoints/problem_0201-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 2 Numpy/.ipynb_checkpoints/problem_0202-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 2 Numpy/.ipynb_checkpoints/problem_0203-checkpoint.ipynb
3.Ejercicios completados/2. Ejercicios obligatorios/Entregable 2 Numpy/.ipynb_checkpoints/problem_0204-checkpoint.ipynb
